
body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
}

.light,
.listen-content {
    background-color: #f2f2f2;
    color: #0d0d0d;
}

.dark {
    background-color: #0d0d0d;
    color: #f2f2f2;
}

.color-theme-button {
    border-radius: 20px;
    border-width: 0px;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    font-size: 20px;
}

.manage-content {
    background-color: #ffffb3;
}

.container {
    max-width: 1000px;
    background-color: #80ff80;
    height: 100%;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    overflow: hidden;
    padding: 0px 15px 15px 15px;
    position: relative;
}

.title-container {
    position: relative;
    background-color: #999999;
    padding: 5px;
}

.title {
    margin: 0px;
    padding: 4px 0px 4px 0px;
    font-size: 26px;
}

.navbar {
    background-color: orange;
    width: 100%;
}

.config-container .form-group {
    background-color: #5cd65c;
    padding: 10px 25px 10px 25px;
    margin-bottom: 10px;
}

.config-container .form-section {
    border: 2px solid black;
    margin-bottom: 20px;
    padding-top: 10px;
}

.status-view-container {
    border: 1px solid black;
    border-radius: 5px;
    background-color: yellow;
}

.status-view-title {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.form-sub-group {
    padding: 10px 0px 0px 0px;
}

.logo-image {
    background-image: url("/images/favicon/favicon-64x64.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
}

.censored-words-container {
    background-color: #f2f2f2;
    position: relative;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.product-info-container {
    background-color: grey;
    padding: 5px 25px 5px 25px;
    margin: 5px 0px 15px 0px;
}

.transcript-settings {
    background-color: #99bbff;
    border-top: 2px solid black;
    position: fixed;
    bottom: 0px;
    display: none;
    width: 100%;
}

.transcript {
    line-height: 1.4;
    margin: 5px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
}

.console-log {
    line-height: 1.4;
    color: black;
}

.console-log>p {
    margin: 0px;
    white-space: nowrap;
}

.settings-container {
    overflow: auto;
}

.transcript-container,
.log-container {
    overflow: auto;
    padding: 0px 10px 0px 10px;
    background-color: #f2f2f2;
    color: #0d0d0d;
}

.bottom-button {
    z-index: 999;
    font-size: 22px;
    line-height: 1.0;
    padding: 6px 6px 6px 6px;
    position: fixed;
    background-color: #009900;
    color: white;
    border: 2px solid black;
    border-radius: 7px;
    top: 5px;
    right: 5px;
    display: none;
}

.close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;
    background-color: black;
}

.signout-button {
    display: none;
}

.update-now-button {
    background-color: green;
    color: white;
}

.check-for-update-button {
    background-color: green;
    color: white;
}

.fontsize-button {
    margin: 10px 0px 10px 0px;
    background-color: #bfbfbf;
    height: 40px;
    width: 60px;
    letter-spacing: 5px;
    border: 1px solid black;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
}

.fontsize-button-down {
    font-size: 15px;
}

.fontsize-button-up {
    font-size: 20px;
}

.login-container {
    background-color: #404040;
    color: #fff;
    margin: 20px auto 20px auto;
    padding: 20px;
    width: 60%;
    min-width: 400px;
}

.login-container .form-group {
    margin-bottom: 20px;
}
.login-container .form-group label {
    font-weight: 400;
}
.login-container .form-control {
    height: 38px;
    line-height: 1.5em;
}
.login-container .login-button {
    text-transform: uppercase;
}
.login-container .remember-group {
    color: #999;
    display: inline-block;
    margin-top: 7.5px;
}
.login-container .remember-group .control-label {
    display: inline;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.login-alert {
    text-align: center;
    padding: 8px;
    display: none;
    width: 100%;
}

.alert {
    display: none;
    padding-inline-start: 30px;
    padding: 0px 15px 0px 15px;
    margin-bottom: auto;
    margin-top: auto;
}

.alert-danger {
    border-color: red;
    background-color: #f5c6cb;
    color: red;
}

.release-url {
    color: black;
    text-decoration: underline;
}

.modal-content {
    color: #eee;
}

.modal-header {
    padding: 15px 20px;
    background-color: #222222;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #1C1C1C;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 600px;
    padding: 15px;
    background-color: #323232;
    color: #fff;
}
.modal-body table {
    color: #fff;
}
.modal-body li {
    margin-top: 7px;
    margin-left: 4px;
    color: #aaa;
}
.modal-body li strong {
    color: #eee;
}
.modal-body i {
    color: #F9AA03;
}
.modal-body i.fa {
    color: #fff;
}
.modal-body td:hover a .fa,
.modal-body a:focus i.fa {
    color: #f9aa03;
}
.modal-body strong,
.modal-body strong i.fa {
    color: #F9AA03;
}
.modal-footer {
    padding: 15px 20px;
    margin-top: 0;
    background-color: #222222;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #1C1C1C;
}
#changelog-modal .modal-body > h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    font-size: 18px;
}
#changelog-modal .modal-body > ul {
    padding-left: 25px;
    margin-bottom: 30px;
}
#changelog-modal ul {
    padding-left: 20px;
}

.status-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    background-color: #339933;
    border: 9px inset;
    border-color: #bfbfbf;
    height: 100%;
}

.status-card-title {
    background-color: #4d4d4d;
    color: #fff;
    border-bottom: 1px solid black;
    font-size: 18px;
    text-align: center;
    margin: 0px;
}

.status-card-count {
    font-size: 16px;
    margin: 5px 2px 0px 10px;
    color: #fff;
}

.status-card-table-container {
    height: 100%;
    margin: 8px;
    overflow: auto;
    background-color: #f2f2f2;
}

.status-card-table {
    margin: 5px;
}

.view-filename {
    font-size: 20px;
}

@media screen and (min-width: 980px) /* Desktop */ {
    .listen-content {
        font-size: 16px;
    }
}

@media screen and (max-width: 979px) /* Tablet */ {
    .listen-content {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 800px) /* Tablet */ {
    .listen-content {
        font-size: 3.2vw;
    }
}

@media screen and (max-width: 500px) /* Mobile */ {
    .listen-content {
        font-size: 3.5vw;
    }
    .container {
        padding: 0px 2px 10px 2px;
    }
    .title {
        font-size: 16px;
    }
    .view-filename {
        font-size: 16px;
    }
}
